* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
    font-family: 'CustomFont';
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color:rgb(18, 18, 19) !important;
    height: 100%;
    margin: 0;
}

#container
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game
{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header
{
    border-bottom: 1px solid rgb(58, 58, 60);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.overlay
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color:black;
    z-index: 3000;
}

.overlayContent
{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    max-width: 500px;
    box-sizing: border-box;
}

#centralHeaderSpace
{
    color: gainsboro;
    font-size: 36px;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    left:0;
    right: 0;
    position: absolute;
}

.title
{
    color: gainsboro;
    font-size: 36px;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

#board-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
}

.BigFontSize
{
    font-size: 2em;
}

.SmallFontSize
{
    font-size: 1em;
}

.square
{
    border: 2px solid rgb(58, 58, 60);
    line-height: 2rem;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    animation-duration: 0.5s;
}

#keyboard-container
{
    height: 200px;
    max-width: 500px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5px;
}

.keyboard-row
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button
{
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    width: 100%;
    max-width: 40px;
}

.keyboard-row .BigKeyboardButton
{
    max-width: 60px;
}