* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
    font-family: 'CustomFont';
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color:rgb(18, 18, 19) !important;
    height: 100%;
    margin: 0;
}

#container
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game
{
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header
{
    border-bottom: 1px solid rgb(58, 58, 60);
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.overlay
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color:black;
    z-index: 3000;
}

.overlayContent
{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    max-width: 500px;
    box-sizing: border-box;
}

#centralHeaderSpace
{
    color: gainsboro;
    font-size: 36px;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

#leftHeaderSpace
{
    margin-left: 10px;
    z-index: 1;
}

#rightHeaderSpace
{
    margin-right: 10px;
}

.title
{
    color: gainsboro;
    font-size: 36px;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

#board-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
}

.BigFontSize
{
    font-size: 2em;
}

.SmallFontSize
{
    font-size: 1em;
}

.square
{
    border: 2px solid rgb(58, 58, 60);
    line-height: 2rem;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    animation-duration: 0.5s;
}

#keyboard-container
{
    height: 200px;
    max-width: 500px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5px;
}

.keyboard-row
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button
{
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    width: 100%;
    max-width: 40px;
}

.keyboard-row .BigKeyboardButton
{
    max-width: 60px;
}

.headerIcon
{
    width: 20px;
    height: 20px;
}

#statisticsPopup
{
    background-color: rgb(37, 37, 37);
    color: white;
}

#statisticsPopup h1,
#statisticsPopup h4
{
    text-align: center;
}

#statisticsPopup h4
{
    padding-top: 10px;
}

#statistics
{
    display: flex;
}

.statistics-container
{
    flex: 1;
}

.statistics-container .statistics
{
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
}

.statistics-container .label
{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#guess-distribution
{
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
}

.graphContainer
{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
}

.graphContainer .guess
{
    width: 10px;
}

.graphContainer .graph
{
    width: 100%;
    height: 100%;
    padding-left: 4px;
}

.graphContainer .graph .graphBar
{
    height: 100%;
    width: 20%;
    position: relative;
    background-color: rgb(99, 99, 99);
    display: flex;
    justify-content: center;
}

.graphContainer .graph .graphBar .guessesNum
{
    font-weight: bold;
}

.graphContainer .graph .graphBar.align-right
{
    justify-content: right;
    padding-right: 8px;
}

#footer
{
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
}

#statisticsPopup .countdown
{
    border-right: 1px solid rgb(223, 221, 221);
    width: 50%;
}

#nextPajglaTimer
{
    font-size: 34px;
    text-align: center;
}

#statisticsPopup .share
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    width: 50%;
}

button#shareButton
{
    background-color: rgb(74, 145, 74);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 20px;
    height: 52px;
    color:rgb(223, 221, 221);
}

#helpWindow
{
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    padding: 15px 10px;
}

#helpWindow h2
{
    padding-bottom: 10px;
}

#helpWindow p
{
    font-size: 14px;
}

#helpWindow #examples
{
    border-top: 1px solid rgb(129, 131, 132);
}

#helpWindow .example
{
    margin-top: 24px;
    margin-bottom: 24px;
}

#helpWindow .exampleSquare
{
    border: 2px solid rgb(58, 58, 60);
    line-height: 2rem;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 35px;
    height: 35px;
    display: inline-block;
    user-select: none;
    margin-bottom: 20px;
}
